body{
    padding: 0;
    margin: 0;
}

.img__profile img{
    border-radius: 50%;
}

.img__profile{
    position: absolute;
    left: 40%;
    top: 20%;
}

.round {
    -webkit-border-radius: 1px 2px 3px 4px;

    -moz-border-radius: 1px 2px 3px 4px;

    border-radius: 1px 2px 3px 4px;
}